<!DOCTYPE html>
<html lang="pt_br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Melodify</title>
    <link rel="stylesheet" href="application.css">
    <link rel="icon" href="nota.png">
    <script src="https://cdn.jsdelivr.net/npm/vexflow@4.2.2/build/cjs/vexflow.js"></script>
</head>
<body>
<nav class="navbar">
    <h2 id="home"><a th:href="@{/}">Home</a></h2>
    <h1 id="titulo"><span class="blue-letter">M</span>elodify</h1>
</nav>
<div class="display"></div>
<div id="controls">
    <button id="recordButton">Record</button>
    <button id="pauseButton" disabled>Pause</button>
    <button id="stopButton" disabled>Stop</button>
    <button id="clearSheetMusicButton">Reset Sheet</button>
    <button id="clearRecordingsButton">Reset Audios</button>
</div>
<div id="formats">Formato: comece a gravar para ver a taxa de amostragem</div>
<p><strong>Gravações:</strong></p>
<ol id="recordingsList"></ol>
<script src="recorder.js"></script>
<script src="script.js" defer></script>

<div id="score">
    <canvas id="sheet-music"></canvas>
</div>
</body>
</html>